<div class="masthead">
  <div class="container">
    <h3 class="masthead-title">
      <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
      <div class="social-icons">
        <a href="{{site.author.linkedin}}">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="{{site.author.github}}">
          <i class="fa fa-github"></i>
        </a>
        <a href="{{site.author.stackoverflow}}">
          <i class="fa fa-stack-overflow"></i>
        </a>
        <a href="{{site.author.twitter}}">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </h3>
  </div>
</div>